@(account: models.Account, accounts: Seq[models.Account], linkView: String, byString: String, pageId: Int, pagesCount: Int, filterOpt: Option[String])(implicit flash: Flash, messages: Messages, ac: controllers.AppContext, req: play.api.mvc.RequestHeader)

@app.admin.adminMain("accounts") { } {
  @base.common.components.container() {

   
    @app.admin.paginationControlForAccounts(pageId, pagesCount, filterOpt)
    <div class="row">
    @base.common.components.table(Seq("id", "type", "login", "registered", "status", "actions"), accounts.map( account => Seq(
    	account.id, 
    	if(account.userType == models.AccountType.USER) {
    	  Html("<span class=\"badge badge-success\">user</span>")
    	} else {
    	  Html("<span class=\"badge badge-info\">company</span>")
    	},
    	if(byString == "id") {
    	  Html("<a href=\"" + linkView + account.id + "\" target=\"blank\">" + "@" + account.loginMatchedBy(filterOpt) + "</a>")    	
    	} else {
    	  Html("<a href=\"" + linkView + account.login + "\" target=\"blank\">" + "@" + account.loginMatchedBy(filterOpt) + "</a>")
    	}, 
    	account.createdPrettyTime,
    	if(account.userStatus == models.UserStatus.NORMAL) {
    	  Html("<span class=\"badge badge-success\">normal</span>")
    	} else {
    	  Html("<span class=\"badge badge-danger\">locked</span>")
    	},
      if(account.userStatus == models.UserStatus.NORMAL) {
        Html("<a href=\"" + sside.routes.AdminController.setStatus(account.id, models.UserStatus.LOCKED) + "\" class=\"badge badge-primary\">lock</a>")   
      } else {
        Html("<a href=\"" + sside.routes.AdminController.setStatus(account.id, models.UserStatus.NORMAL) + "\" class=\"badge badge-primary\">unlock</a>")   
      }
    	)))
    </div>
    @app.admin.paginationControlForAccounts(pageId, pagesCount, filterOpt)
     
  }
} { 

<script type="text/javascript">
  $(document).ready(function(){
    $(".inputFilterAction").click(function(e) { 
      e.preventDefault(); 
      let pattern = $(this).parent().find(".input-filter").val();
      window.location.href = "/app/admin/accounts/page/1" + (pattern.trim() == "" ? "" : "?filter=" + $(this).parent().find(".input-filter").val());
    })
  })
</script>


}


